# Created by `rake sync`
/.gclient_entries
/build/
/depot_tools/
/src/
/chromium_deps/
/include/chromium

# Created by `rake gyp`
/dummy/dummy.xcodeproj/
/libchromium.xcodeproj/

# Created by `rake archvive`
libchromium-*.zip

# Created by `pod install`
/Example/Pods/

xcuserdata/
